* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container h1 {
  color: rgb(0, 0, 0);
  font-weight: 1500;
  font-size: 50px;
  text-align: center;
}
.converter-row {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 50px 20px;
  margin: 10px auto;
  color: gold;
  background: rgb(73, 76, 255);
  box-shadow: 2px 4px;
}

.col {
  flex-basis: 32%;
  text-align: center;
}

.col label {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #fff;
}
.col input {
  width: 150px;
  height: 30px;
  background-color: white;
  border-radius: 7px;
  text-align: center;
}
#last {
  text-shadow: 2px;
}
